$size__pad-xxl:				120px;
$size__pad-xl:				80px;
$size__pad-lg:				50px;
$size__pad:					30px;
$size__pad-sm:				20px;
$size__pad-xs:				10px;
$size__pad-xxs:				5px;

$size__border-radius:		80px;

$size__site-main:           100%;
$size__site-sidebar:        25.641%; /* 300px @ 1170 main container max-width */

$size__site-content:        1170px;
$size__site-header-height:  60px;
$size__site-header-utility-height:  40px;
