// Video background
.videomenu-container {
    // Margin: 0 since some pages have content right below the container - see 'Home Page'
    @include margin(null null 0);

    // Video background overlay and size
    .video-texture, .mobile-video-image {
        background-blend-mode: overlay;
        background-color: rgba($color__site-header-dark-bg, 0.5);
        background-position: top center;
    }

    // Heading
    .swiper-slide .content  {
        padding: 0 !important;

        // Heading
        h2 {
            font-weight: $font__weight__bold;
            line-height: 72px;
            @include font-size(4);
            @include margin(null null 20px null);
        }

        // Description text
        p {
            line-height: 24px;
            margin: 0 auto;
            max-width: 60%;
            text-align: center;
            span {
                font-weight: $font__weight__light;
                line-height: 24px;
                @include font-size(1.125);
            }
        }
    }

    // Button styling
    .button {
        background-color: transparent;
        a {
            font-size: 18px;
            font-family: $font__main;
            font-weight: $font__weight__bold;
            letter-spacing: 0px !important;
            text-transform: none;
        }
        a, a:visited {
            color: $color__btn-primary-color;
        }
        a.primary-color {
            background-color: $color__worko-green-standard !important;
        }
        &:nth-of-type(2) {
            display: none;
        }
    }
}

.seeker {
    z-index: 11;
}

.seeker-link {
    position: fixed !important;
    z-index: 2;
    right: 30px;
    bottom: 20px;
}

// Media query - screen sizes > 1170px
@include media($desktop-lg) {
    .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content {

            h2 {
                line-height: 72px !important;
                font-size: 64px !important;
            }

            .button {
                a {
                    padding: 15px 35px !important;
                }
            }
        }
    }
}

// Media query - screen sizes > 1025px and <=1200px
@include media($desktop) {
    .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content {

            h2 {
                line-height: 72px !important;
                font-size: 64px !important;
            }

            .button {
                a {
                    font-size: 18px !important;
                    padding: 15px 35px !important;
                }
            }
        }
    }
}

// Media query - screen sizes >768 and < 1025px
@include media($tablet-lg) {

    .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide .button {
            a {
                font-size: 18px !important;
                padding: 15px 35px !important;
            }
        }
    }
}

// Needed on pages where videos are not used. Media query - screen sizes > 1000px
@media only screen and (max-width: 1000px) {
    .videomenu-container {
        .image-bg {
            background-blend-mode: overlay;
            background-color: rgba($color__site-header-dark-bg, 0.5);
        }
    }
}

// Media query - screen sizes >640px and < 769px
@include media($tablet) {

    .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide .button {
            a {
                font-size: 18px !important;
                padding: 15px 35px !important;
            }
        }
    }
}

// Media query - screen sizes >380px and < 641px
@include media($mobile-lg) {
    .home .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide {

            h2 {
                margin-top: 60px;
            }
        }
    }
    .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide {

            h2 {
                margin-bottom: 10px;
                margin-top: 100px;
            }

            .content {
                padding: 0 !important;
                p {
                    display: none;
                }
            }

            .button {
                a {
                    font-size: 18px !important;
                    padding: 10px 15px !important;
                }

                &:first-child {
                    display: none
                }
                &:nth-of-type(2) {
                    display: block;
                }
            }
        }
    }
}

// Media query - screen sizes <380px
@include media($mobile) {

    .videomenu-container {
        .nectar-slider-wrap[data-full-width="false"] .swiper-slide {

            .content {
                padding: 0 !important;
                top: 0 !important;

                h2 {
                    line-height: 36px !important;
                    margin-bottom: 0;
                    margin-top: 50px;
                }
                p {
                    display: none;
                }
            }

            .button {
                a {
                    font-size: 18px !important;
                    padding: 10px 15px !important;
                }

                &:first-child {
                    display: none
                }
                &:nth-of-type(2) {
                    display: block;
                }
            }
        }
    }
}
