// Buttons displayed for screen size <769px
.mobile-buttons {
    display: none;
}

.buttons-top {
    transition: top 0.8s ease !important;
    & > li {
        position: absolute;
        top: -19px !important;
        a {
            @include margin(null 10px null);
            font-size: 12px;
            font-weight: $font__weight__regularbold;
            width: auto !important;
        }

        &:first-child {
            right: 17%;
        }
        &:nth-of-type(2n) {
            margin-top: -12px;
            right: 9%;
        }
        &:nth-of-type(3n) {
            right: 0;
        }
    }

    #lang-btn {
        height: 30px;
        .lang_sel_list_vertical {
            width: 100px;
            ul, a, a:visited {
                border: none;
            }
            li {
                width: auto;
            }
            a {
                background-color: $color__site-header-link-bg;
                font-size: 12px;
                font-family: $font__main;
                line-height: 22px;

                &:hover {
                    background-color: $color__site-header-link-bg;
                }
            }
        }
    }
}

#header-secondary-outer {
    background-color: $color__site-header-system-messages;
    .container {
        max-width: 100%;
    }
    nav ul {
        height: auto;
        padding: 10px;
        width: 100%;
        li {
            color: $color__text-heading-light;
            font-size: 14px !important;
            font-weight: $font__weight__regular;
            line-height: 16px !important;
            div {
                display: inline-block;
                width: calc(100% - 90px);
            }
            a:not(.system-messages-close) {
                display: none;
            }
            .system-messages-close, a:hover {
                border: 1px solid $color__btn-default-border;
                color: $color__text-heading-light;
                display: block;
                font-size: 12px !important;
                float: right;
                margin: 0 10px;
                padding: 2px 10px !important;
            }
        }
    }
}

#header-outer {

    // Specific styling for lang-btn when the header isn't set to transparent and the user has not scrolled
    &:not(.transparent) {
        #lang-btn {
            a {
                color: #888 !important;
            }
        }
    }

    // All the header text is white against the transparent header background
    &.transparent {
        a {
            color: $color__site-header-light-bg !important;
        }

        .sf-menu {
            a {
                color: $color__site-header-link !important;
            }
        }
    }

    // Header styling - when the user has scrolled/is scrolling
    &.small-nav {
        header#top {
            border-top: 1px solid $color__background-hr;
        }
        .buttons-top {
            li {
                top: -12px !important;
            }

            #lang-btn {
                margin-top: 0px;
                .lang_sel_list_vertical a {
                    color: #888 !important;
                }
            }
        }
    }
}

#header-outer[data-lhe="animated_underline"] header#top {

    nav {
        ul.buttons li {
            @include margin(15px null null);
        }
    }

    #logo {
        @include margin(15px null null);
    }

    nav > ul > li > a {
        padding: 25px 0 25px !important;
    }
}

header#top .sf-menu li ul li a {
    background: $color__site-header-bg !important;
    color: $color__site-header-link;
    font-weight: $font__weight__regularbold;

    &:hover {
        background: $color__site-header-bg !important;
        color: $color__site-header-link-hover;
    }
}

#slide-out-widget-area.fullscreen {
    .inner .widget {
        @include pad(0);
    }
}

// Media query - screen sizes >1px and < 1000px
@media screen and (min-width:1px) and (max-width:1000px) {
    #header-secondary-outer {
        nav ul li {
            div {
                max-width: 90%;
                text-align: left;
            }
        }
    }

    #header-outer {
        header#top {
            border-top: none !important;
            #logo {
                .default-logo {
                    display: none;
                }
                .retina-logo {
                    display: block !important;
                }
            }
            nav {

                ul.mobile-buttons {
                    padding: 0 !important;
                    margin: 0 !important;
                }
                &.mobile-nav {
                    background-color: transparent;
                    display: block !important;
                    float: right;
                    height: auto;
                    margin: 0 !important;
                    padding: 0 !important;
                    top: 0;
                }
            }
        }

        .mobile-buttons {
            display: block !important;

            li {
                display: inline-block !important;
                float: right;
                line-height: 64px;
                padding: 0 !important;
                margin: 0 !important;
                width: auto !important;

                .avatar {
                    background: url("/wp-content/themes/work/images/avatar.png");
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                    vertical-align: middle;
                }

                &#signin-btn {
                    float: right !important;
                    margin: 0 0 0 10px!important;
                }
                &#search-btn {
                    display: none !important;
                    // display: inline-block !important; Not to be shown for Phase 1 implementation

                    .icon-salient-search {
                        background-color: $color__site-header-bg;
                        color: $color__text-main;
                        height: auto;
                    }
                }
            }
        }
    }

    body.ascend #search-outer {
        display: block !important;

        #search input[type="text"] {
            font-size: 26px !important;
            word-wrap: break-word;
        }

        ::-webkit-input-placeholder {
            color: red;
        }
    }

    .slide-out-widget-area-toggle {
        left: 50px;
        top: 10px !important;
    }

    #slide-out-widget-area.fullscreen {

        .inner {

            .off-canvas-menu-container {
                li a {
                    font-size: 16px;
                    line-height: 16px;
                }
            }

            .widget.widget_nav_menu {
                h4 {
                    display: none;
                }
                li a {
                    font-size: 48px;
                }

                .sub-menu {
                    li a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:690px) {
    #header-secondary-outer {
        .container {
            max-width: 690px !important;
            width: 100%;
            .sf-menu {
                border-top: none;
            }

            .system-messages-close {
                border: 1px solid $color__btn-default-border !important;
                padding: 2px 10px;
            }
        }
    }
}
