html, body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: $font__main !important;
}

.button {
    @include button-style($color__btn-primary-bg, $color__btn-default-color, transparent, true);
}

// styling - Scroll down - On videomenu-container
body[data-button-style="rounded"] .section-down-arrow {
    border: none;
    opacity: 1;
    i.fa-angle-down,
    i.fa-angle-down.top {
        @include font-size(3);
        @include transform(none);
    }
}

.main-content ul li {
    list-style: none;
}

/*
    Adding a margin below every element. Home Page has
    a different layout.
*/
body:not(.home) {
    .videomenu-container,
    .solutions-list-container,
    .description-container,
    .testimonials-container,
    .support-container {
        margin-bottom: 100px !important;
    }
}

/*
    Standard margins are applied to container elements.
    Use this when you wish to target a specific element
    without affecting others.
*/
#extra-spacing-top {
    margin-top: 100px;
}

#extra-spacing-bottom {
    margin-bottom: 100px;
}
