// Font-weights - variables

$font__weight__light: 300;
$font__weight__regular: 400;
$font__weight__regularbold: 500;
$font__weight__semibold: 600;
$font__weight__bold: 700;
$font__weight__black: 900;
